[submodule "breathe"]
	path = breathe
	url = https://github.com/michaeljones/breathe
[submodule "nbconvert"]
	path = nbconvert
	url = git://github.com/ipython/nbconvert.git
[submodule "bibstuff"]
	path = bibstuff
	url = git://github.com/matthew-brett/bibstuff.git
[submodule "sphinxcontrib-bibtex"]
	path = sphinxcontrib-bibtex
	url = git://github.com/mcmtroffaes/sphinxcontrib-bibtex.git
